:root {
    --DarkModeBckg: #24282f;
    --DarkModeColor: #ededed;;

    --nightModeBckgColor: #efedee;
    --nightModeColor: #24282f;

    --lightModeBckg: #ffb5ef;
    --lightModeColor: #222831;

  }