
  .grid-container {
    display: grid;
    gap: 1rem; /* Adjust the gap as needed */
    padding-top: 2.5rem; /* Adjust the padding as needed */
  
    /* Default layout for small screens */
    grid-template-columns: repeat(1, 1fr);
  
    /* Responsive layout for medium screens and above */
    @media (min-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }
  
    /* Additional breakpoints for larger screens */
    @media (min-width: 1024px) {
      grid-template-columns: repeat(2, 1fr);
    }
  
    @media (min-width: 1280px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  .grid-item {
    position: relative; 
    max-width: 590px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    box-shadow: inset -6px -4px 2px rgba(255, 255, 255, 0.03);
    border: 1.5px solid rgba(255, 255, 255, 0.326);
    border-radius: 0.75rem;
    color: #fff;
    padding: 15px 1px;
    min-height: 140px;
  }
  
  .image {
    width: 90%;
    height: auto;
    max-width: 100%;
    border-radius: 0.50rem; /* Adjust the border-radius as needed */
  }
  